@reference "./index.css";

@layer components {
  .btn-badge-bottom {
    @apply absolute z-10 -right-1.5 -bottom-1.5 rounded shadow border-none;
  }

  .btn-badge-bottom-down {
    @apply bg-cyan-300;
  }

  .btn-badge-bottom-up {
    @apply bg-cyan-900;
  }

  .btn-badge-icon {
    @apply w-6 h-6 p-1;
  }

  .btn-badge-icon-down {
    @apply text-cyan-700;
  }

  .btn-badge-icon-up {
    @apply text-white;
  }

  .component-flex-list {
    @apply flex flex-wrap;
  }

  .card {
    @apply relative border m-3 p-4 rounded-2xl shadow hover:shadow-md 
      min-w-20 max-w-fit min-h-16 max-h-fit;
  }
}
